<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BrumBrumSamochodzik</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.amber-indigo.min.css" />

</head>
<body>

    <div class="mdl-layout mdl-js-layout">
        <header class="mdl-layout__header ">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout__title">BrumBrumSamochodzik</span>
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/users/login">Login</a>
                    <a class="mdl-navigation__link" href="/users/register">Register</a>
                    <a class="mdl-navigation__link" href="/users/home">Home</a>
                </nav>
            </div>
        </header>

        <div class="mdl-layout__drawer">
            <span class="mdl-layout__title">Hello World</span>
            <nav class="mdl-navigation">
              <a class="mdl-navigation__link" href="#">Nav link 1</a>
              <a class="mdl-navigation__link" href="#">Nav link 2</a>
              <a class="mdl-navigation__link" href="#">Nav link 3</a>
            </nav>
        </div>

        {% block photo %}
        {% endblock %}

        <main class="mdl-layout__content">
            {% block body %}
            {% endblock %}

        </main>

        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">BrumBrumSamochodzik</div>

            <ul class="mdl-mini-footer__link-list">
              <li><a href="#">Something</a></li>
              <li><a href="#">Something else :D</a></li>
            </ul>
        </div>
        </footer>
    </div>

</body>
</html>