{% extends 'users/base.html'%}

{% block body %}

{{ travel.start_point }}
{{ travel.end_point }}
{{ travel.luggage_size }}
{{ travel.price }}
{{ travel.seats_left }}
{{ travel.travel_time }}
{{ travel.about }}
{{ travel.passengers.username }}
{{ user.username }}

{% if not is_signed and user.username != travel.host.username and travel.seats_left > 0 %}
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="save_passenger/">
        Sign up
    </a>
{% else %}
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="remove_passenger/">
        Leave
    </a>
{% endif %}

{% endblock %}